* {
    padding: 0%;
    margin: 0%;
}

/* ***********  header    **********  */



.navbar {

    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-2 {

    z-index: 1;
}

.navlist {

    text-decoration: none;
    color: black;
}

.sign-in {

    padding-right: 1%;

}

.hidden {
    width: 45%;
}




/* CSS for Sign-in function  */

/* Style for the modal container */
.SignIn {
    height:40%;
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%; 
    width: 50%; 
    background-color: #fefefe;
    padding: 20px;
    border-radius: 2%;
   
  }
  #signInModal {

    height:35%
  }
  
  /* Style for the modal content */
  .signInContent {
    top: 30px ;
    position: relative;
  }
  
 
  .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
 
  @media screen and (max-width: 768px) {
    .SignIn {
        height: 50%;
      max-width:80%; 
      width: 80%;
      padding: 10px;
    }
  }
  


/* *************************    main body  *************** */

.container {

    padding-top: 2.5%;
    height: auto;



}

.statement-1 {

    display: flex;
    color: blue;
    align-items: center;
    justify-content: center;
}

.statement-2 {

    padding-top: 2.5px;
    display: flex;
    color: orange;
    align-items: center;
    justify-content: center;
}

.container p {

    padding-top: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.container span {

    display: flex;
    align-items: center;
    justify-content: center;

}

.main-btn {   /* btn which is used in Read Me */

    background-color: orange;
}

.main-btn:hover {

    background-color: blue;

}


.categories {

    padding-top: 3%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.image {

    background-size: cover;
    max-width: 1024px;
    max-height: 1024px;
    width: 100%;
    height: auto;
}

.btn a {

    text-decoration: none;
    color: white;
}

.btn {

    margin-left: 0.3%;
}

#ModelBtn {

    width: 25%;
}


/* *************************    footer  *************** */


footer p {

    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: rgb(197, 191, 191);
    margin-bottom: 0;
    font-size: small;
}


